html, .body {
  background-color: #fff;
  
  font: 14px/1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
  color:#595959;
  font-weight:400;

  margin-right: 0 auto;
  margin-left:  0 auto;
  width: auto;
  padding-right: 1%;
  padding-left:  1%;

  border:3px solid rgb(51, 0, 255);
}

.head {
  width: auto;
  margin-top: 50px;
  margin-right: 0 auto;
  margin-bottom: 50px;
  margin-left: 0 auto;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  
  border:3px solid red;
}

.contentcenter {
  width: auto;
  margin-top: 50px;
  margin-right: 15px;
  margin-bottom: 50px;
  margin-left: 15px;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  text-align: center;
  
  border:3px solid rgb(255, 0, 81);
}

.contentleft {
  position:static;
  float:left;
  width: 31%;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
  padding-top: 0px;
  padding-right: 1%;
  padding-bottom: 0px;
  padding-left: 0px;
  
  border:3px solid #00CD00;
}

.contentright {
  position:static;
  float:left;
  width: 64%;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 1%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  
  border:3px solid #00CD00;
}
