html, body {
  background-color: #fff;
  padding:50px;
  font: 14px/1.5;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
  color:#595959;
  font-weight:400;
}

.wrapper {
  
  max-width: 1170px;
  
  <!-- centering -->
  
  margin-left: auto;
  margin-right: auto;
  <!-- left- and right-side margin -->
  <!-- padding-left: 15px; -->
  <!-- padding-right: 15px; -->
}

.center
{
max-width: 100%;
width: 1140px;
  
margin:0 auto;
padding:0;
overflow:auto;
text-align: center;
}

.left {
  position:inherit;
  float:left;
  width:auto;
  max-width:450px;
  
  padding: 0;
  <!-- top,right,bottom,left side length -->
  margin: 0px 0px 0px 0px;
  
  border:3px solid #00CD00;
}

.right {
  position:inherit;
  float:right;
  width:auto;
  max-width:450px;
  
  padding: 0;
  margin: 0px 0px 0px 0px;
  
  border:3px solid #00CD00;
}
